<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DevelopmentDataDirectory" value="C:\TeamCity\buildAgent\work\197d962f50bcdec0\ASP_NET_MVC\App_Data"/>
    <!--<add key="DevelopmentDataDirectory" value="C:\Users\Marcin Czenko\Projects\QuantumLearning\ASP_NET_MVC\App_Data"/>-->
    <add key="DataDirectory" value="..\..\..\ASP_NET_MVC\App_Data\"/>
    <add key="DevelopmentBaseUrl" value="http://localhost:4000" />
    <add key="TestBaseUrl" value="http://bmapidev4" />
    <add key="DevelopmentConnectionString" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Items.mdf;Integrated Security=True" />
    <add key="TestConnectionString" value="Datasource=localhost;Database=efm_test;uid=root;pwd=EverydayProductive;" />
  </appSettings>
  <connectionStrings>
    <add name="ItemDBContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Items.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ItemDBContext" connectionString="Datasource=localhost;Database=efm_test;uid=root;pwd=EverydayProductive;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>